body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* header */
.SchedContainer{
  margin-top: 2px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom: 0;
}

.description {
  white-space: pre-wrap;
}
/* Time slots */
.timeBlock{
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: 
    "time text-area btn";
    
}
.timeBlock > *{
  min-height: 80px;
  color: black;
  padding: 10px;
  margin-bottom: 1px;
}
/* hour field */
.hour{
  display: flex;
  align-items: center;
  justify-content: right;
  grid-area: time;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Textfield */
.event-area{
  grid-area: text-area;
  resize: none;
  border: none;  
  cursor: pointer;
  border: 1px solid transparent;

}
.event-area:hover{
  border: 1px solid black;
  border-right: none;
}
.event-area:focus{
  outline: none !important;
  border: 2px solid black;
  border-right: 1px;
}
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}
/* save button */
.saveBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: btn;
  cursor: pointer;
  font-size: 20px;
  border-left: 1px solid black;
  background-color: #06aed5;
  color: white;
  
}
i{
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.saveBtn:hover > i{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  
}
